<div id="main-container">
    <div class="container-item">
        <p class="item-header">Employee:</p>
        <select class="item-input" [(ngModel)]="employees">
            <option value="all">All Employees</option>
            @for (employee of allEmployees(); track $index) {
                <option value="{{employee.emplyeeId}}">{{employee.employeeName}}</option>
            }
        </select>
    </div>
    <div class="container-item">
        <p class="item-header">Project:</p>
        <select class="item-input" [(ngModel)]="projects">
            <option value="all">All Projects</option>
            @for (project of allProjects(); track $index) {
                <option value="{{project.id}}">{{project.projectCode}}</option>
            }
        </select>
    </div>
    <div class="container-item">
        <p class="item-header">Description:</p>
        <input [(ngModel)]="descriptions" class="item-input" placeholder="Filter by description..." />
    </div>
</div>